@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Red Hat Mono', monospace;
	background-image: url('../img/loader-texture.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #769AA6;
	height: 90vh;
	
}

body,input,input::placeholder{
	color: #fff !important;
}

input::placeholder{
	font-size: 14px;
}
input {
	border-top: 0 !important; 
	border-bottom: 1px solid #808080 !important;
	border-left: 0 !important;
	border-right: 0 !important;
	border-radius: 1px !important;
	background: 0 !important;
	margin: 8px 0;
	
}

input:after {
	background: 0 !important;
}

input:focus,
textarea:focus,
select:focus {
	outline: none !important;
}

.form-wrapper{
	margin: 80px auto 0 auto;

}
.title{
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	margin-bottom: 25px;
}
.button-submit{
    margin-top: 20px;
	padding: 10px;

}

.angel{
	position: absolute;
}
.container-wrapper{
	text-align: center;
	margin-top: 150px;
}
.container-wrapper a{
	font-size: 20px;
	text-decoration: none;
	color: #fff;
}
.container-wrapper a:hover{
	color: rgb(222, 221, 221);
}

/* .angel:nth-child(1){
	top: 25px;
	right: 0px;
}
.angel:nth-child(2){
	bottom: 25px;
	right: 0px;
}
.angel:nth-child(3){
	bottom: 25px;
	left: 80px;
} */
@media (min-width: 768px) {

	.form-wrapper{
		width: 500px;
	}
	
}
